LM_U1_T3/xmlschemaej2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="libros">
    <xs:complexType>
      <xs:element name="libros">
        <xs:sequence>
          <xs:element name="autor" type="xs:string"/>
          <xs:element name="año" type="xs:integer"/>
          <xs:element name="nombre" type="xs:string"/>
          <xs:element name="editorial" type="xs:string*"/>
          <xs:element name="imprenta" type="xs:string"/>
        </xs:sequence>
      </xs:element>
    </xs:complexType>
  </xs:element>
</xs:schema>
