LM_U2_T3/xmlschemaej1.xsd


<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="members">
  <xs:complexType>
    <xs:element name="member">
        <xs:sequence>
           <xs:element name="namemember" type="xs:string"/>
           <xs:element name="yearsofmembership" type="xs:integer"/>
        </xs:sequence>
    </xs:element>
  </xs:complexType>
</xs:element>

</xs:schema>
